# Configuración de EmailJS para Ancestral Beach Club
VITE_EMAILJS_SERVICE_ID=tu_service_id_aqui
VITE_EMAILJS_PUBLIC_KEY=tu_public_key_aqui

# IDs de Plantillas
VITE_EMAILJS_TEMPLATE_ADMIN_ID=tu_template_para_admin_aqui
VITE_EMAILJS_TEMPLATE_USER_ID=tu_template_para_usuario_aqui
